<main>

    <section class="esquerda">
         <span>Me encontre em minhas redes profissionais:</span><br>
         <div>
              <a href="www.linkedin.com/in/clayton-kennedy-8326b899" target="_blank"><img
                        src="assets/images/linkedin.png" alt="Linkedin"></a>

              <a href="https://github.com/clayton-kennedy" target="_blank"><img src="assets/images/github.png"
                        alt="Github"></a>

         </div>
    </section>
    <section class="direita">
        <span>Ou envie-me um email:</span><br>
         <form action="https://formsubmit.co/clayton-kennedy@hotmail.com" method="post">
              <input type="hidden" name="_captcha" value="false">
              <label for="nome">Nome:</label><br>
              <input type="text" id="nome" name="name" required><br>

              <label for="email">Email:</label><br>
              <input type="email" id="email" name="email" required>

              <label for="mensagem"></label><br>
              <textarea id="mensagem" name="message" rows="5" cols="40" required></textarea><br>
              <button id="buttonEnviar">Enviar</button>
              <input type="hidden" name="_next" value="https://clayton-kennedy.github.io/Portfolio/">
         </form>
    </section>
</main>