

<main>
    <section class="esquerda">
        <div>
            Minha paixão por jogos e filmes me inspirou a explorar o mundo da programação e desenvolvimento de software.
            Atualmente, estou focado em aprimorar minhas habilidades em diferentes áreas, com ênfase em desenvolvimento front-end utilizando Angular, e back-end com Java. Também estou ansioso para aprofundar meu conhecimento em bancos de dados e conteinerização com Docker.
        </div>
    </section>
    <section class="direita">
            <span class="titulo">Cursos Extras</span>
            
                    <a href="https://www.udemy.com/certificate/UC-91de6d46-b3fe-4dcd-805a-de256b4e04f5/" target="_blank">
                    <div class="curso">
                            <img src="assets/images/imagem-java.png" alt="Imagem Java" class="imagemCurso">
                            <span class="tituloCurso">Java Completo com Orientação a objetos e exercícios</span>
                        </div>
                    </a>

                    <a href="https://aia.4linux.com.br/pluginfile.php/1/tool_certificate/issues/1724626144/9056694848CK.pdf" target="_blank">
                    <div class="curso">
                            <img src="assets/images/imagem-docker.png" alt="Imagem Docker" class="imagemCurso">
                            <div class="tituloCurso">Docker - 4Linux</div>
                        </div>
                    </a>

                    <a href="https://www.dio.me/certificate/550C9137" target="_blank">
                        <div class="curso">
                                <img src="assets/images/js.png" alt="Imagem JAVASCRIPT" class="imagemCurso">
                                <div class="tituloCurso">Javascript Dev. - DIO</div>
                            </div>
                        </a>

                        <a href="https://www.dio.me/certificate/06C24C88" target="_blank">
                            <div class="curso">
                                <img src="assets/images/tech.png" alt="Imagem Tech" class="imagemCurso">
                                <div class="tituloCurso">Potência Tech - Ifood - DIO</div>
                            </div>
                    </a>

                    <a href="https://www.udemy.com/certificate/UC-dfc9a869-7fd2-4210-8b72-28ef91b9b456/" target="_blank">
                            <div class="curso">
                                <img src="assets/images/senai.png" alt="Imagem Escola" class="imagemCurso">
                                <div class="tituloCurso">Desenvolvedor Front End - SENAI</div>
                            </div>
                    </a>

                    <a href="https://www.dio.me/certificate/667E345C" target="_blank">
                        <div class="curso">
                            <img src="assets/images/logica.png" alt="Imagem Lógica" class="imagemCurso">
                            <div class="tituloCurso">Lógica de Programação - DIO</div>
                    </div>
            </a>
    </section>
</main>
