
<main>
    <section >
        <!-- <div class="card">
            <img src="assets/images/" alt="Imagem do Projeto">
            <div class="Info">
                <span class="tituloInfo">To do List</span><br/>
                <span class="descricao">Springboot, Docker, Angular</span>
            </div>
            <div class="botoesInfo">
                <a href="https://github.com/clayton-kennedy/ToDo_SpringBoot" target="_blank"><button class="botaoGithbub">Repositório</button></a>
          </div>
        </div> -->

        <div class="card">
            <img src="assets/images/app-login.png" alt="Imagem do Projeto">
            <div class="Info">
                <span class="tituloInfo">Tela Login</span><br/>
                <span class="descricao">Angular, Springboot</span>
            </div>
            <div class="botoesInfo">
                <a href="https://github.com/clayton-kennedy/App-login_Java_Angular" target="_blank"><button class="botaoGithbub">Repositório</button></a>
            </div>
        </div>

        <div class="card">
            <img src="assets/images/pokedex.jpg" alt="Imagem do Projeto">
            <div class="Info">
                <span class="tituloInfo">Pokedex</span><br/>
                <span class="descricao">HTML, CSS, Javascript</span>
            </div>
            <div class="botoesInfo">
                <a href="https://github.com/clayton-kennedy/Pokedex-DIO" target="_blank"><button class="botaoGithbub">Repositório</button></a>
                <a href="https://clayton-kennedy.github.io/Pokedex-DIO/" target="_blank"><button class="botaoVisualizar">Visualizar</button></a>
            </div>
        </div>

        <div class="card">
            <img src="assets/images/pokedex2.jpg" alt="Imagem do Projeto">
            <div class="Info">
                <span class="tituloInfo">Pokedex</span><br/>
                <span class="descricao">HTML, CSS, Javascript</span>
            </div>
            <div class="botoesInfo">
                <a href="https://github.com/clayton-kennedy/Pokedex" target="_blank"><button class="botaoGithbub">Repositório</button></a>
                <a href="https://clayton-kennedy.github.io/Pokedex/" target="_blank"><button class="botaoVisualizar">Visualizar</button></a>
            </div>
        </div>

        <div class="card">
            <img src="assets/images/jobFinder.jpg" alt="Imagem do Projeto">
            <div class="Info">
                <span class="tituloInfo">Job Finder</span><br/>
                <span class="descricao">Node.js, Bootstrap, SQLite e Express</span>
            </div>
            <div class="botoesInfo">
                <a href="https://github.com/clayton-kennedy/Job_Finder" target="_blank"><button class="botaoGithbub">Repositório</button></a>
            </div>
        </div>

        <div class="card">
            <img src="/assets/images/clinica.jpg" alt="Imagem do Projeto">
            <div class="Info">
                <span class="tituloInfo">Clínica de estética</span><br/>
                <span class="descricao">HTML, CSS, Javascript</span>
            </div>
            <div class="botoesInfo">
                <a href="https://github.com/clayton-kennedy/Projeto_Clinica_Estetica_SENAI" target="_blank"><button class="botaoGithbub">Repositório</button></a>
                <a href="https://clayton-kennedy.github.io/Projeto_Clinica_Estetica_SENAI/" target="_blank"><button class="botaoVisualizar">Visualizar</button></a>
            </div>
        </div>

        <div class="card">
            <img src="assets/images/jogoVelha.jpg" alt="Imagem do Projeto">
            <div class="Info">
                <span class="tituloInfo">Jogo da Velha</span><br/>
                <span class="descricao">HTML, CSS, Javascript</span>
            </div>
            <div class="botoesInfo">
                <a href="https://github.com/clayton-kennedy/Jogo_da_Velha" target="_blank"><button class="botaoGithbub">Repositório</button></a>
                <a href="https://clayton-kennedy.github.io/Jogo_da_Velha" target="_blank"><button class="botaoVisualizar">Visualizar</button></a>
            </div>
        </div>

        <div class="card">
            <img src="assets/images/movies.jpg" alt="Imagem do Projeto">
            <div class="Info">
                <span class="tituloInfo">Movies</span><br/>
                <span class="descricao">React, API da TMDB</span>
            </div>
            <div class="botoesInfo">
                <a href="https://github.com/clayton-kennedy/Movie_Project" target="_blank"><button class="botaoGithbub">Repositório</button></a>
            </div>
        </div>
    </section>
</main>