
<main>
    <section class="esquerda">
        <h3>Olá! Seja bem vindo(a) ao meu perfil, eu me chamo <br/></h3><h1>Clayton Kennedy</h1>
        <h3>Fullstack Developer</h3>
        <span class="imgBanner">
        <a href="https://www.linkedin.com/in/clayton-kennedy-8326b899"
            target="_blank"><img src="assets/images/linkedin.png" alt="Imagem Linkedin"></a>
        <a href="mailto:clayton-kennedy@hotmail.com" target="_blank"><img src="assets/images/email-black.png"  alt="Imagem Email"></a>
        </span>
    </section>
    <section class="direita">
        <img src="assets/images/avatar.png" alt="Avatar">
    </section>

</main>
<div class="contador" align="center"><a title='Contador de Visitas do MegaContador' href='https://megacontador.com.br/' >
    <img src='https://megacontador.com.br/img-bqXGsVigeJLSMb3j-57.gif' border='0' alt='Contador de visitas'></a>
</div>