
@media (min-width: 200px) {
     
#aboutMe {
     width: 100%;
     height: 1300px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     margin: 0 auto;
     padding: 0;
}
.spanAbout {
     width: auto;
     margin: 0 auto;
     padding: 1em;
     text-align: justify;
     font-size: 1em;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     text-indent: 12%;
}
.experiences {
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 1em;
}
.experiences u{
     text-align: center;
     margin: 1em auto;
}
.titleExperiences {
     text-align: center;
     margin: auto;
     font-size: 1.5em;
     font-weight: bold;
     text-shadow: 0px 1px 10px rgba(255, 0, 0, 0.547);
}
/* Experiências */
.expProf {
     width: 100%;
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     align-items: center;
     justify-content: center;
     padding: 0;
}
.expProf div {
     width: 110px;
     height: 120px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 1em;
     background-color: #ededed;
     border-radius: 1em;
     overflow: hidden;
     margin: 3px;
     font-weight: 400;
}
.expProf div:hover {
     background-color: rgb(227, 131, 131);
}
.expProf span {
     text-align: center;
     font-size: 0.9em;
}
/* Cursos */
.cursos {
     width: 100%;
     height: 350px;
     display: grid;
     grid-template-columns: 1fr;
     align-items: flex-start;
     justify-content: flex-start;
     padding: 1em;
}
.cursos img {
     width: 50px;
     height: 50px;
}
.cursos div {
     width: 310px;
     height: 90px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     padding: 1em;
     background-color: #ededed;
     border-radius: 1em;
     overflow: hidden;
     margin: 3px auto;
     font-weight: 400;
}
.cursos div:hover {
     cursor: pointer;
     filter: none;
     background-color: rgb(227, 131, 131);
}
.cursos span {
     font-size: 1em;
     margin: 0 0.3em;
}
.imgJS {
     border-radius: 10px;
}
}
@media (min-width: 420px) {
     #aboutMe {
          height: 1200px;
     }
     .expProf div {
          width: 130px;
          height: 120px;
          font-weight: 500;
     }
     .cursos span {
          font-size: 1em;
          text-align: center;
     }
}
@media (min-width: 750px) {
     #aboutMe {
          height: 1050px;
     }
     .expProf div {
          width: 230px;
          height: 90px;
          font-size: 1.2em;
     }
     .spanAbout {
          font-size: 1.3em;
     }
     .cursos {
          grid-template-columns: 1fr 1fr;
     }
     .cursos span {
          font-size: 1.3em;
     }
}
@media (min-width: 1000px) {
     #aboutMe {
          height: auto;
     }
     .titleExperiences {
          font-size: 2em;
     }
     .spanAbout {
          font-size: 1.3em;
     }
     .expProf {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
     }
     .expProf div {
          width: 270px;
          height: 120px;
          font-size: 1.4em;
     }
     .cursos {
          grid-template-columns: 1fr 1fr 1fr;
     }
     .cursos div {
          width: 330px;
          height: 110px;
          font-size: 1em;
     }
}
@media (min-width: 1250px) {
     #aboutMe {
          width: 100%;
          height: 850px;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          margin: 0 auto;
     }
     .spanAbout {
          width: 40%;
          margin: 0 auto;
          padding: 1em;
          text-align: justify;
          font-size: 1.5em;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
     }
     .experiences {
          width: 60%;
          height: 550px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          padding: 1em;
     }
     .titleExperiences {
          font-size: 2em;
          font-weight: bold;
          text-shadow: 0px 1px 10px rgba(255, 0, 0, 0.547);
     }
     /* Experiências */
     .expProf {
          width: 100%;
          height: 350px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          align-items: center;
          justify-content: center;
          padding: 2em;
     }
     .expProf div {
          width: 240px;
          height: 150px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0;
          background-color: #ededed;
          border-radius: 1em;
          overflow: hidden;
          margin: 5px;
          filter: grayscale(100%);
          font-weight: 500;
     }
     .expProf div:hover {
          cursor: pointer;
          filter: none;
          background-color: rgb(227, 131, 131);
          border: 1px solid red;
     }
     .expProf span {
          font-size: 1.1em;
          margin: 0 0.3em;
     }
     /* Cursos */
     .cursos {
          width: 100%;
          height: auto;
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 1em;
     }
     .cursos img {
          width: 50px;
          height: 50px;
     }
     .cursos div {
          width: 360px;
          height: 100px;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 1em;
          background-color: #ededed;
          border-radius: 1em;
          overflow: hidden;
          margin: 3px;
          filter: grayscale(100%);
          font-weight: 500;
     }
     .cursos div:hover {
          cursor: pointer;
          filter: none;
          background-color: rgb(227, 131, 131);
          border: 1px solid red;
     }
     .cursos span {
          font-size: 1.3em;
          margin: 0 0.3em;
     }
     .imgJS {
          border-radius: 10px;
     }
}
@media (min-width: 1500px) {
     #aboutMe {
          width: 80%;
          margin: 0 auto;
     }
     .expProf div {
          width: 220px;
          height: 100px;
          padding: 0;
          font-size: 1em;
          margin: 0;
     }
     .cursos {
          grid-template-columns: 1fr 1fr;
     }
     .cursos div {
          width: 350px;
          height: 100px;
     }
}