
@media (min-width: 200px) {
     
#projects {
     width: 100%;
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: center;
     justify-content: center;
     margin: 1em auto;
     background-color: #ededed;
}
.carousel {
     display: flex;
     align-self: center;
     justify-content: center;
     width: 100%;
     height: auto;
     z-index: 0;
}
.carousel img {
     width: 99%;
     height: 300px;
     object-fit: contain;
}
.carousel span {
     display: flex;
     align-self: center;
     justify-content: center;
     text-align: center;
}
.cardProject {
     display: none;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
     width: 320px;
     height: 450px;
     overflow: hidden;
     margin: 1em auto;
     border: 1px solid black;
}
.titleProject {
     padding: 1em 0;
     font-size: 2em;
     color: red;
}
#imgProject {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 320px;
     height: 250px;
     object-fit: contain;
}
.btnProject {
     display: flex;
     flex-direction: row;
}
#btnVisualizar, #btnRepositorio {
     display: none;
     flex-direction: row;
     cursor: pointer;
     padding: 0.6em 1em;
     margin: 0 1em;
     font-size: 1em;
     background-color: black;
     color: white;
     box-shadow: 2px 2px 3px gray;
}
#btnVisualizar:hover, #btnRepositorio:hover {
     background-color: white;
     color: black;
}
#btnVisualizar:active, #btnRepositorio:active {
     box-shadow: none;
}
}
@media (min-width: 750px) {
     .carousel {
          display: none;
     }
     .cardProject {
          display: flex;
     }
     #btnVisualizar, #btnRepositorio {
          display: flex;
     }
     .titleProject {
          font-weight: 600;
     }
}
@media (min-width: 1000px) {
     #projects {
          background-color: white;
     }
}