
@media (min-width: 200px) {
     
#skills {
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     margin: 0 auto;
}
.spanTech {
     width: 100%;
     margin: auto;
     padding: 1em;
     text-align: justify;
     font-size: 1em;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
}
.habilities {
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     padding: 1em;
}
.titleSkills {
     font-size: 2.4em;
     font-weight: bold;
     text-shadow: 0px 1px 10px red;
}
/* Soft Skills */
.softSkills {
     width: 100%;
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: flex-start;
     justify-content: flex-start;
     padding: 0;
}
.softSkills img {
     width: 50px;
     height: 50px;
}
.softSkills div {
     width: 155px;
     height: 110px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     padding: 0.5em;
     background-color: #ededed;
     border-radius: 1em;
     overflow: hidden;
     margin: 3px auto;
     font-weight: 400;
     flex-wrap: wrap;
}
.softSkills div:hover {
     filter: none;
     background-color: rgb(227, 131, 131);
     border: 1px solid red;
}
.softSkills span {
     font-size: 0.9em;
     margin: 0 0.3em;
}
/* Hard Skills */
.hardSkills {
     width: 100%;
     height: auto;
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: flex-start;
     justify-content: flex-start;
     padding: 0;
}
.hardSkills img {
     width: 50px;
     height: 50px;
}
.hardSkills div {
     width: 155px;
     height: 100px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     padding: 0.5em;
     background-color: #ededed;
     border-radius: 1em;
     overflow: hidden;
     margin: 3px auto;
     font-weight: 400;
}
.hardSkills div:hover {
     filter: none;
     background-color: rgb(227, 131, 131);
     border: 1px solid red;
}
.hardSkills span {
     font-size: 1em;
     margin: 0 0.3em;
}
.imgJS {
     border-radius: 10px;
}
}
@media (min-width: 420px) {
     .softSkills {
          width: 100%;
          height: auto;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 0 0.5em;
     }
     .softSkills div {
          width: 120px;
          height: 150px;
          flex-wrap: wrap;
     }
     .hardSkills {
          width: 100%;
          height: auto;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          padding: 0 0.5em;
     }
     .hardSkills div {
          width: 120px;
          height: 100px;
          flex-wrap: wrap;
     }
}
@media (min-width: 750px) {
     .softSkills div {
          width: 220px;
          height: 120px;
          font-size: 1.2em;
     }
     .hardSkills div {
          width: 220px;
          height: 100px;
          font-size: 1.2em;
     }
}
@media (min-width: 1000px) {
     .spanTech {
          font-size: 1.5em;
          text-indent: 12%;
     }
     .softSkills div {
          width: 320px;
          height: 90px;
          font-size: 1.2em;
          padding: 1em;
          margin: 5px auto;
          font-weight: 400;
     }
     .hardSkills {
          grid-template-columns: 1fr 1fr 1fr 1fr;
     }
     .hardSkills div {
          width: 230px;
          height: 90px;
          font-size: 1.3em;
          margin: 5px;
     }
     .titleSkills {
          font-size: 3em;
     }
     .softSkills img {
          width: 50px;
          height: 50px;
     }
     .hardSkills img {
          width: 50px;
          height: 50px;
     }
}
@media (min-width: 1250px) {
     #skills {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
     }
     .habilities {
          width: 50%;
     }
     .softSkills {
          grid-template-columns: 1fr 1fr;
     }
     .softSkills div {
          width: 300px;
          height: 70px;
          align-items: center;
          justify-content: flex-start;
          padding: 0.7em;
          font-size: 0.9em;
          margin: 5px;
     }
     .softSkills div:hover {
          background-color: rgb(227, 131, 131);
          border: 1px solid red;
     }
     /* Hard Skills */
     .hardSkills {
          width: 100%;
          grid-template-columns: 1fr 1fr 1fr;
          padding: 1em;
     }
     .hardSkills div {
          width: 195px;
          height: 70px;
          padding: 0.5em 1em;
          font-size: 0.9em;
          margin: 5px;
     }
     .hardSkills div:hover {
          filter: none;
          background-color: rgb(227, 131, 131);
          border: 1px solid red;
     }
     .hardSkills span {
          font-size: 1.3em;
          margin: 0 0.3em;
     }
     .imgJS {
          border-radius: 10px;
     }
}
@media (min-width: 1500px) {
     #skills {
          width: 60%;
          height: auto;
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          margin: 0 auto;
     }
     .spanTech {
          width: 45%;
          font-size: 1.4em;
          align-items: flex-start;
          justify-content: flex-start;
     }
     .habilities {
          width: 65%;
          height: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 1em;
     }
     .softSkills {
          width: 100%;
          height: auto;
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 2em;
     }
     .softSkills img {
          width: 50px;
          height: 50px;
     }
     .softSkills div {
          width: 350px;
          height: 70px;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 1em;
          font-size: 1em;
          margin: 5px;
     }
     .softSkills div:hover {
          filter: none;
          background-color: rgb(227, 131, 131);
          border: 1px solid red;
     }
     .softSkills span {
          font-size: 1.3em;
          margin: 0 0.3em;
          text-align: center;
     }
     /* Hard Skills */
     .hardSkills {
          width: 100%;
          height: 300px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 2em;
     }
     .hardSkills img {
          width: 50px;
          height: 50px;
     }
     .hardSkills div {
          width: 230px;
          height: 70px;
          padding: 0.5em 1em;
          font-size: 1em;
     }
     .hardSkills div:hover {
          filter: none;
          background-color: rgb(227, 131, 131);
          border: 1px solid red;
     }
     .hardSkills span {
          font-size: 1.3em;
          margin: 0 0.3em;
     }
     .imgJS {
          border-radius: 10px;
     }
}