
@media (min-width: 200px) {
.topMenu {
     height: 4em;
     width: 99%;
     background-color: #ededed;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     padding: 0 1em;
     position: fixed;
     z-index: 2;
     margin: 0;
}
#menu-hamb-icon {
     display: flex;
     right: 0;
     width: 3em;
     height: 3em;
     z-index: 10;
}
.hide {
     display: none;
}
.textTopMenu {
     font-size: 1.5em;
     color: red;
     z-index: 11;
     text-align: center;
}
.linksMenu {
     position: fixed;
     display: none;
     flex-direction: column;
     align-items: flex-end;
     justify-content: center;
     font-size: 1.5em;
     font-weight: 500;
     list-style: none;
     background-color: #ededed;
     width: 100%;
     height: 100ch;
     margin-top: 20em;
}
.linksMenu li {
     padding: 1.5em 1em;
     height: 3.1em;
     width: 100vw;
}
.linksMenu li:hover {
     background-color: #ffffff;
}
}

@media (min-width: 750px) {
     .linksMenu {
          margin-top: 18em;
          width: 50%;
          right: 0;
          justify-content: center;
          align-items: flex-end;
     }
     .linksMenu li {
          
     }
}
@media (min-width: 1000px) {
     #menu-hamb-icon {
          display: none;
     }
     .linksMenu {
          display: flex;
          flex-direction: row;
     }
}
@media (min-width: 1500px) {
     
.topMenu {
     height: 4em;
     width: 100%;
     background-color: #ededed;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     padding: 0 3em;
     position: fixed;
     z-index: 1;
     margin: auto;
}
#menu-hamb-icon {
     width: 3em;
     height: 3em;
     display: none;
}
.textTopMenu {
     font-size: 2em;
     color: #0008ff;
}
.topMenu ul {
     list-style: none;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-end;
     font-size: 1.3em;
     font-weight: 500;
     gap: 0.2em;
}
.topMenu li {
     padding: 1.5em 1em;
     height: 3.1em;
     width: auto;
}
.topMenu li:hover {
     background-color: #ffffff;
}
}