
@media (min-width: 200px) {
.topMenu {
     height: 4em;
     width: 100%;
     background-color: #ededed;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     padding: 0 1em;
     position: fixed;
     z-index: 2;
     margin: 0;
}
#menu-hamb-icon {
     display: flex;
     right: 0;
     width: 3em;
     height: 3em;
     z-index: 10;
}
.hide {
     display: none;
}
.textTopMenu {
     font-size: 1.5em;
     color: red;
     z-index: 11;
     text-align: center;
}
.linksMenu {
     position: fixed;
     display: none;
     flex-direction: column;
     align-items: flex-end;
     justify-content: center;
     font-size: 1.5em;
     font-weight: 500;
     list-style: none;
     background-color: #ededed;
     width: 100%;
     height: 100ch;
     margin-top: 20em;
}
.linksMenu li {
     padding: 1.5em 1em;
     height: 3.1em;
     width: 100vw;
}
.linksMenu li:hover {
     background-color: #ffffff;
}
}
@media (min-width: 750px) {
     .topMenu {
          justify-content: space-between;
     }
     .linksMenu {
          margin-top: 18em;
          width: 50%;
          right: 0;
          justify-content: center;
          align-items: flex-end;
     }
}
@media (min-width: 1000px) {
     .topMenu {
          height: 3em;
          width: 100%;
          padding: 1em;
     }
     #menu-hamb-icon {
          display: none;
     }
     .hide {
          display: none;
     }
     .textTopMenu {
          font-size: 1.5em;
          color: red;
          z-index: 11;
          text-align: center;
     }
     .linksMenu {
          display: flex;
          flex-direction: row;
          height: auto;
          margin: auto;
          margin-top: 0;
          font-size: 1em;
     }
     .linksMenu li {
          padding: 1em;
     }
     .linksMenu li:hover {
          background-color: #ffffff;
     }
}
@media (min-width: 1500px) {
     .topMenu {
          height: 3em;
          width: 100%;
          padding: 0 2em;
     }
     #menu-hamb-icon {
          display: none;
     }
     .hide {
          display: none;
     }
     .textTopMenu {
          font-size: 1.5em;
          color: red;
          z-index: 11;
          text-align: center;
     }
     .linksMenu {
          display: flex;
          flex-direction: row;
          align-self: center;
          justify-content: center;
          text-align: center;
          height: auto;
          margin: auto;
     }
     .linksMenu li {
          padding: 1em 0;
     }
     .linksMenu li:hover {
          background-color: #ffffff;
     }
}
