

<main>
    <section class="esquerda">
        <div>
            Olá, me chamo Clayton Kennedy, sou um entusiasta por tecnologia. Atualmente, estou no 4º período do curso de Análise e Desenvolvimento de Sistemas, e minha paixão pela programação está mais forte do que nunca.
Estou em busca de uma oportunidade de estágio que me permita aplicar e expandir meu conhecimento prático em desenvolvimento de software. Se você procura um estagiário dedicado, motivado e ansioso para aprender, estou à disposição para contribuir com a sua equipe.
        </div>
    </section>
    <section class="direita">
        <div class="formacao">
            <span class="titulo">Formação</span>
            <h2>Análise e Desenvolvimento de Sistemas</h2>
            <h5>Universidade Estácio de Sá
                <br/>4º Período - formação prevista para dez/2025</h5>
        </div>
        <div class="experiencia">
            <span class="titulo">Experiência</span>
            <h2>Procuradoria Geral do Distrito Federal</h2>
                <h3>Desenvolvedor Outsystems</h3>
                <h5>Jan/2025 - atulmente</h5>

            <h2>Procuradoria Geral do Distrito Federal</h2>
                <h3>Estagiário em T.I.</h3>
                <h5>Jan/2024 - Jan/2025</h5>
        </div>
    </section>
</main>
