
#aboutMe {
     width: 70%;
     height: auto;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin: 0 auto;
}
.spanAbout {
     width: auto;
     margin: 0 auto;
     padding: 1em;
     text-align: justify;
     font-size: 2em;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
}
.experiences {
     width: 50%;
     height: 550px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     padding: 1em;
}
.titleExperiences {
     font-size: 2em;
     font-weight: bold;
     text-shadow: 0px 1px 10px #0008ff87;
}
/* Experiências */
.expProf {
     width: 100%;
     height: 350px;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     align-items: center;
     justify-content: center;
     padding: 2em;
}
.expProf div {
     width: 270px;
     height: 82px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 1em 2em;
     background-color: #ededed;
     border-radius: 1em;
     overflow: hidden;
     margin: 3px;
     filter: grayscale(100%);
     font-weight: 500;
}
.expProf div:hover {
     cursor: pointer;
     filter: none;
     background-color: #97bdff;
     border: 1px solid #001aff;
}
.expProf span {
     font-size: 1.1em;
     margin: 0 0.3em;
}
/* Cursos */
.cursos {
     width: 100%;
     height: 350px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     align-items: flex-start;
     justify-content: flex-start;
     padding: 2em;
}
.cursos img {
     width: 50px;
     height: 50px;
}
.cursos div {
     width: 402px;
     height: 85px;
     display: flex;
     align-items: center;
     justify-content: flex-start;
     padding: 1em 2em;
     background-color: #ededed;
     border-radius: 1em;
     overflow: hidden;
     margin: 3px;
     filter: grayscale(100%);
     font-weight: 500;
}
.cursos div:hover {
     cursor: pointer;
     filter: none;
     background-color: #97bdff;
     border: 1px solid #001aff;
}
.cursos span {
     font-size: 1.3em;
     margin: 0 0.3em;
}
.imgJS {
     border-radius: 10px;
}