
.topMenu {
     height: 4em;
     width: 100%;
     background-color: #ededed;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     padding: 0 3em;
     position: fixed;
     z-index: 1;
     margin: auto;
}
#menu-hamb-icon {
     width: 3em;
     height: 3em;
     display: none;
}
.textTopMenu {
     font-size: 2em;
     color: #0008ff;
}
.topMenu ul {
     list-style: none;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-end;
     font-size: 1.3em;
     font-weight: 500;
     gap: 0.2em;
}
.topMenu li {
     padding: 1.5em 1em;
     height: 3.1em;
     width: auto;
}
.topMenu li:hover {
     background-color: #ffffff;
}